/* Reset */
*{
margin: 0px;
padding: 0;
box-sizing: border-box;
}
/* Reset */


body{
margin: auto;
font-family: 'Roboto', sans-serif;
background-color: #F6F8F9;

}



/* Prop Header */
header{
background-color: white;
padding-left: 20px;
padding-top: 10px;
padding-bottom: 10px;
margin-bottom: 50px;
}

header img{
vertical-align: middle;
}

h1{
display: inline-block;
vertical-align: middle;
}
/* Prop Header */

/* Prop Contenitore */
.container{
max-width: 800px;
background-color: white;
margin: auto;
padding-left: 50px;
}
/* Prop Contenitore */

/* Sezione button */
.button{
padding: 10px;

margin-bottom: 30px;

}

#button-blue{
background-color:#45ABEA ;
color: white;
padding: 10px;
border-radius: 5px;
border: white;
width: 100px;
height: 30px;
vertical-align: middle;

}

#button-white{
background-color: white;
color: lightgray;
padding: 10px;
border-radius: 5px;
border: 1px solid lightgrey;
width: 100px;
height: 30px;
vertical-align: middle;
}
/* Sezione button */


.first{
margin-bottom: 20px;
}


h2{
display: inline-block;
}

#triangolo{
display: inline-block;
}

.entities{
width: 20px;
height: 20px;
border: 1px solid #64C0A9;
border-radius: 50%;
color: #64C0A9;
vertical-align: middle;
text-align: center;
display: inline-block;
}

.text{
display: inline-block;
font-weight: bold;
vertical-align: middle;
}

.tag{
height: 30px;
width: 100px;
background-color: #45ABEA;
display: inline-block;
vertical-align: middle;
border-radius: 10px;
padding-left: 10px;
padding-right: 10px;
color: #F6F8F9;
}